h1 {
	text-align: center;
}

#game-row {
	margin-top: 30px;
	height: 300px;
}

.tile {
	height: 100%;
}

.play {
	width: 80%;
	height: 70%;
	vertical-align: middle;
	margin: 0 auto;
	border-style: solid;
	border-color: grey;
}

.player-name {
	text-align: center;
	font-size: 24px;
	margin: 5px 5px 15px 5px;
}

.p1choice {
	text-align: center;
	margin: 20px 5px 0px 5px;
}

.p2choice {
	text-align: center;
	margin: 20px 5px 0px 5px;
}

.score {
	text-align: center;
	margin: 20px 5px 5px 5px;
}

